services:
  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
    ports:
      - "3307:3306"

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:3000"
    depends_on:
      - mysql